.create_post_container {
    max-width: 600px;
    min-width: auto;
    background-color: rgb(58, 59, 60);
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin: 0 auto;
    text-align: center;
    padding:20px;
    transition: 1s background-color;
    border-radius: 10px;
}

.create_post_container:hover {
    background-color: rgb(124, 126, 128);
}

@media only screen and (max-width: 520px) {
    .create_post_container {
        margin: 0;
    }
}