div.post_container {
    max-width: 620px;
    height: auto;
    background-color: #1c1e21;
    margin: 30px auto;
    border-radius: 20px;
}

.post_image img {
    width: 100%;
    height: 506px;
}

.post_image div {
    max-width: 620px;
    height: 506px;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 30px;
    padding: 10px 0;
    font-weight: bold;
}
.post_username {
    text-align: right;
    padding: 2px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
}

.loading {
    margin: auto;
}

.invisible {
    display: none;
}

.post_caption {
    margin: 0 10px;
    padding: 20px 5px;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.post_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex: 1 1;
}

.action_like, .action_edit {
    padding: 10px;
    width: 50%;
    text-align: center;
    color: rgb(176, 179, 184);
    transition: 0.5s background-color;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.action_like:hover, .action_edit:hover , .action_like_selected:hover{
    background-color: #686f79;
}

.post_likes {
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.action_like_selected {
    color: blue;
    padding: 10px;
    width: 50%;
    text-align: center;
    transition: 0.5s background-color;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

@media only screen and (max-width: 520px) {
    div.post_container {
        margin: 10px auto;
    }
    .post_image img {
        width: 100%;
        height: 306px;
    }
    .post_image div {
        max-width: 620px;
        height: 306px;
        text-align: center;
        margin: auto;
        color: white;
        font-size: 30px;
        padding: 10px 0;
        font-weight: bold;
    }
    .post_caption {
        margin: 0 5px;
        padding: 10px 5px;
        font-size: 16px;
    }
    
    .action_like, .action_edit {
        padding: 5px;
        border-radius: 10px;
        font-size: 16px;
    }
}